body {
    background-color: #516E74;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #516E74;
    color: black;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 26px;
    color: black;
  }
  
  main {
    background-color:  #516E74;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  main h2{
    color: lightblue;
  }

  main p{
    color: lightgrey;
  }

  main img{
    height: 100px;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    width: 300px;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: purple;
  }
  
  section h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  section p {
    font-size: 16px;
  }
  
  a {
    display: block;
    margin-top: 20px;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: purple;
    color: white;
  }
  
  footer p{
    color: white;
  }