* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: lightseagreen;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

header {
	background-color: lightseagreen;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#logo {
	width: 20%;
	height: 20%;
}

header h1 {
	margin: 0;
	color: black;
	text-decoration: none;
}

header nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav li {
	margin: 0 1rem;
}

header nav a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	color: #f2f2f2;
}

.sticky-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

#menu-divider {
	border-top: 1px solid #ddd;
	margin-top: 10px;
}

main {
	margin: 0 auto;
	padding: 20px;
}

.text {
	margin-top: 230px;
	flex-basis: 60%;
}


.text h1 span {
	color: green;
	text-decoration: underline;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home-col-1 {
	flex-basis: 60%;
	margin-left: 5%;
}

.home-col-2 img {
	width: 100%;
	border-radius: 15px;
}

.home-col-2 {
	flex-basis: 35%;
	margin-top: 60px;
}

/* -------------------about---------------------- */

.about-col-1 {
	flex-basis: 31%;
}

.about-col-1 img {
	width: 100%;
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 60%;
}

.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: green;
	text-decoration: underline;
	margin-bottom: 3%;
}

.about p {
	color: black;
	text-align: justify;
	font-size: 20px;
}

.tab-titles {
	display: flex;
	margin: 20px 0 40px;
	margin-top: 5%;
}

.tab-links {
	margin-right: 50px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: purple;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;
	color: black;
}

.tab-contents ul li span {
	color: green;
	font-size: 20px;
	text-decoration: underline;
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}


.top {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	text-align: left;
	font-size: 30px;
}

.top h1 {
	font-size: 60px;
	margin-top: 20px;
}

.top p {
	font-size: 20px;
	margin-bottom: 30px;
}

.btn {
	background-color: darkorchid;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: green;
}

.projects {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.project {
	background-color: transparent;
	border: 5px solid white;
	margin: 3rem;
	padding: 2rem;
	width: 30%;
	height: 65%;
	text-align: center;
	margin-top: 3%;
}


.project h3 {
	margin: 0;
}

.project h2{
	text-decoration: underline;
}
.project p {
	margin: 1rem 0;
	text-align: center;
	text-align: justify;
}

.project img {
	width: 150px;
	height: 150px;
	border: 5px solid white;
}

.text-center {
	text-align: center;
  }

#topic {
	font-size: 36px;
	margin-top: 3%;
	color: green;
	text-decoration: underline;
	text-align: center;
	width: 130%;
}


.contact {
	margin-top: 10vh;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.contact p {
	margin-top: 30px;
}

.contact p i {
	margin-right: 15px;
	font-size: 20px;
}

.social_icon {
	margin-top: 30px;
}

.social_icon a {
	text-decoration: none;
	font-size: 30px;
	color: black;
	margin-right: 15px;
	display: inline-block;
	transition: transform 0.5s;
}

.social_icon a:hover {
	color: white;
	transform: translateY(-5px);
}

.contact{
	margin-top: 20%;
	height: 50vh;
}

.contact h2 {
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
	color: green;
}

.contact form {
	display: flex;
	flex-direction: column;
	margin: 0 11px;
	color: green;
	align-items: stretch;
}

.contact label {
	font-size: 16px;
	margin-top: 20px;
}

.contact input,
.contact textarea {
	padding: 10px;
	border: 2px solid #333;
	border-radius: 5px;
}

.contact input:focus,
.contact textarea:focus {
	outline: none;
	border-color: blueviolet;
}

.contact button {
	background-color: green;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 20px;
	align-self: flex-end;
}

.contact button:hover {
	background-color: purple;
}

.btn-sm {
	padding: 3px 10px;
	vertical-align: middle;
	background-color: transparent;
	text-align: center;
}

.btn-sm:hover {
	background-color: blueviolet;
}

.btn img {
	width: 50px;
	height: 50px;
	text-align: center;
}

#About {
	padding: 80px 0;
	color: green;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
}

footer a {
	color: #333;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

#msg {
	color: red;
	margin-top: -10px;
	display: block;
}

/*------- portfolio -------*/
#loadingScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #191919; 
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

#loaderImage {
	width: 100px;
	height: 100px;
	display: block;
}

#preloader {
	background: url(img/loader.gif) cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #191919; /* Black background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
   }


#cmsscreen{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#cms{
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



@media (max-width: 1140px) {


	#logo {
		width: 90%;
	}

	header h1 {
		margin: 0;
		color: black;
		text-decoration: none;
	}

	header nav ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	header nav li {
		margin: 0 1rem;
	}

	header nav a {
		font-size: 30px;
		text-decoration: none;
		color: black;
	}

	nav ul li a:hover {
		color: #f2f2f2;
	}

	.sticky-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		z-index: 100;
	}


	.about-col-2 {
		flex-basis: 100%;
	}

	.sub-title{
		text-decoration: underline;
	}

	.about-col-1 {
		flex-basis: 100%;
	}

	.about p {
		color: black;
		text-align: justify;
		font-size: 40px;
	}

	.about img{
		max-width: 0%;
		max-height: 0%;
	}

	.project h2{
		font-size: 50px;
		text-decoration: underline;
	}

	.project p {
		margin: 1rem 0;
		text-align: justify;
		font-size: 45px;
	}

	.project {
		background-color: transparent;
		border: 5px solid white;
		margin: 4rem;
		padding: 2rem;
		width: 90%;
		height: 42%;
		text-align: center;
		margin-top: 10%;
	}

	.sub_topic{
		margin-top: 20%;
		text-decoration: underline;
	}

	.btn{
		padding: 18px 30px;
		font-size: 30px;
	}

	main {
		margin: 0 auto;
		padding: 20px;
		height: auto;
	}

	.text {
		margin-top: 310px;
		flex-basis: 60%;
	}

	.top h1 {
		font-size: 84px;
		margin-top: 20px;
	}

	.row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.home-col-1 {
		flex-basis: 90%;
	}

	.home-col-2 img {
		width: 116%;
		border-radius: 15px;
	}

	.home-col-2 {
		flex-basis: 86%;
		margin-top: 25%;
	}

	.contact {
		margin-top: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact p {
		font-size: 30px;
	}

	.contact h2 {
		font-size: 100px;
		margin-bottom: 30px;
		text-align: center;
		color: green;

	}

	.contact form {
		display: flex;
		flex-direction: column;
		margin: 40px 207px;
		color: green;
		align-items: stretch;
	}
	
}


@media (max-width: 533px) {


	#logo {
		width: 90%;
	}

	header h1 {
		margin: 0;
		color: black;
		text-decoration: none;
	}

	header nav ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	header nav li {
		margin: 0 1rem;
	}

	header nav a {
		font-size: 30px;
		text-decoration: none;
		color: black;
	}

	nav ul li a:hover {
		color: #f2f2f2;
	}

	.sticky-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		z-index: 100;
	}


	.about-col-2 {
		flex-basis: 100%;
	}

	.sub-title{
		text-decoration: underline;
	}

	.about-col-1 {
		flex-basis: 100%;
	}

	.about p {
		color: black;
		text-align: justify;
		font-size: 40px;
	}

	.about img{
		max-width: 0%;
		max-height: 0%;
	}

	.project h2{
		font-size: 50px;
		text-decoration: underline;
	}

	.project p {
		margin: 1rem 0;
		text-align: justify;
		font-size: 45px;
	}

	.project {
		background-color: transparent;
		border: 5px solid white;
		margin: 4rem;
		padding: 2rem;
		width: 90%;
		height: 42%;
		text-align: center;
		margin-top: 10%;
	}

	.sub_topic{
		margin-top: 20%;
		text-decoration: underline;
	}

	.btn{
		padding: 18px 30px;
		font-size: 30px;
	}

	main {
		margin: 0 auto;
		padding: 20px;
		height: auto;
	}

	.text {
		margin-top: 310px;
		flex-basis: 60%;
	}

	.top h1 {
		font-size: 84px;
		margin-top: 20px;
	}

	.row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.home-col-1 {
		flex-basis: 90%;
	}

	.home-col-2 img {
		width: 116%;
		border-radius: 15px;
	}

	.home-col-2 {
		flex-basis: 86%;
		margin-top: 25%;
	}

	.contact {
		margin-top: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact p {
		font-size: 30px;
	}

	.contact h2 {
		font-size: 100px;
		margin-bottom: 30px;
		text-align: center;
		color: green;

	}

	.contact form {
		display: flex;
		flex-direction: column;
		margin: 40px 207px;
		color: green;
		align-items: stretch;
	}
	
}


/* .work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 100px;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work img{
	border-radius: 10px;
	width: 50%;
	display: block;
}
.layer{
	width: 50%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a{
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}
.work:hover .layer{
	height: 100%;
} */


/*--------------media-screen---------
